:root {
    --primary: #c45105;
    --bg: rgb(228, 200, 167);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    
}

html {
    scroll-behavior: smooth;
}

body {
    
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid rgb(228, 200, 167);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1,3rem;
    margin: 0 1rem;

}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0,5rem;
    border-bottom: 0,1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0,2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0,5);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0,5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

/* Navbar search form */
.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.navbar .search-form.active {
    transform: scaleY(1);
}

.navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--bg);
    padding: 1rem;
}

.navbar .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--bg);
    
}

/* Shopping cart */

#shopping-cart-button {
    position: relative;
}

#shopping-cart-button .quantity-badge {
    display: inline-block;
    padding: 1px 5px;
    background-color: red;
    border-radius: 6px;
    font-size: 0.8rem;
    position: absolute;
    top: 0;
    right: -10;

}
.shopping-cart {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 35rem;
    height: 100vh;
    padding: 0 1.5rem;
    background-color: #fff;
    color: #5c2501;
    transition: 0.3s;
}

.shopping-cart.active {
    right: 0;
}

.shopping-cart .cart-item {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #666;
    position: relative;
}

.shopping-cart img {
    height: 4rem;
    border-radius: 50%;
}

.shopping-cart h3 {
    font-size: 1.4rem;
}

.shopping-cart .item-price {
    font-size: 1.2rem;

}

.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
    display: inline-block;
    padding: 2px 5px;
    cursor: pointer;
    margin: 0 8px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

.shopping-cart h4 {
    font-size: 1.6rem;
    margin-top: -1rem;
    text-align: center;
}

/* Form checkout */
.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px dashed black;
    margin-top: 1rem;
    padding: 1rem;
}

.form-container h5 {
    text-align: center;
    font-size: 1rem;
}

.form-container form {
    width: 100%;
    text-align: center;
}

.form-container label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
}

.form-container span {
    text-align: right;
}

.form-container input {
    background-color: #ddd;
    padding: 5px;
    font-size: 1rem;
    width: 70%;
}

.form-container .checkout-button {
    padding: 6px 14px;
    background-color: royalblue;
    color: wheat;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20px;
    margin: 1rem auto;
    cursor: pointer;
}

.form-container .checkout-button.disable {
    background-color: #999;
    cursor: not-allowed;
}

/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/header01.bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
}

.hero .content {
    padding: 2rem 7%;
    max-width: 60rem;
}


    

.hero .content h1 {
    font-size: 5em;
    color: #5c2501;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0,5);
    line-height: 1,2;
}

.nibbly {
    padding-left: 6rem;
}

.hero .content h1 span {
    color: var(--primary);
}

.hero .content p {
    color: #5c2501;
    padding-top: 2rem;
    font-size: 1.8rem;
    
}

.hero .content .cta {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1,5rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0,5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0,5);
    border-radius: 5rem;
}

/* About Section */

.about {
    background-image: url('../img/header77.png');
    
}


.about, .menu, .contact  {
    padding: 5rem 7% 2rem;

}

.about h2, .menu h2, .contact h2 {
    text-align: center;
    font-size: 2,6rem;
    margin-top: 3rem;
    color: var(--primary);
}

.about h2 span, .menu h2 span, .contact h2 span {
    color: #5c2501;
}

.about .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
    padding-bottom: 5rem;
    animation: animateMenu 0.5s;
}

/* Modal Animation */
@keyframes animateMenu {
    from {
        top: -300px;
        opacity: 0;

    }
    to {
        top: 0;
        opacity: 1;
    }
}


.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
    color: black;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    padding-left: 1rem;
    color: black;
    text-align: justify;
}

/* Menu Section */

.menu {
    background-image: url('../img/header33.png');
}


.menu h2, .contact h2 {
    margin-bottom: 1rem;
    padding-bottom: 0;
    margin-top: 8rem;
}
.menu p, .contact p  {
    text-align: center;
    color: #5c2501;
    
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.menu .menu-icons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    


    
}

.menu .menu-icons a {
    width: 4rem;
    height: 4rem;
    color: var(--primary);
    margin: 0.3rem;
    border: 1px solid #5c2501;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .menu-icons a:hover {
    color: #5c2501;
    background-color: #fff;
}

.menu .row .menu-card {
    text-align: center;
    padding-bottom: 2rem;
    box-shadow: 5px 5px 0 #5c2501;
    border-radius: 5rem;
    border: 0.1rem solid #5c2501;
    position: relative;
}


.menu .row .menu-card img {
    border-radius: 5rem;
    width: 70%;
    padding-top: 1rem;
}

.menu .row .menu-card:hover img {
    transform: scale(1.1);
}

.menu .row .menu-card .menu-card-title {
    margin-top: 1rem auto 0.5rem;
    color: #5c2501;
    margin-top: 2rem;
}


/* Contact Section */

.contact {
    background-image: url('../img/header44.png');
}

.contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: #5c2501;
}

.text-content {
    color: #000;

}


.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.icon-contact {
    color: #000;
}

.cart {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 1rem;
    font-size: 1,5rem;
    color: #fff;
    background-color: rgb(146, 88, 1);
    border-radius: 0,5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0,5);
    border-radius: 5rem;
}

.contact .row form .input-group {
    display: flex;
    padding: 1rem;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid #eee;
    padding-left: 2rem;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #000;
    cursor: pointer;
}

.contact .row form .input-group:hover { 
    transform: scale(1.1); 
}

.contact .row form .input-group input {
    flex: 1 1 45rem;
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #fff;
}

.input-group p {
    padding-left: 3rem;
    font-size: 1.5rem;
}






.menu-keranjang {
    background-color: #000;
    padding: 5rem 5rem;
}

/* Fotter */
footer {
    background-color: #5c2501;
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
}

footer .social {
    padding: 1rem 0;

}

footer .social a {
    color: #fff;
    margin: 1rem;
}

footer .social a:hover,
footer .links a:hover {
    color: var(--bg);
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit a {
    color: var(--bg);
    font-weight: 700;
}

/* Modal box */
/* Item detail */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
    position: relative;
    background-color: #fff;
    color: var(--primary);
    margin: 15% auto;
    padding: 1.2rem;
    border: 1px solid #666;
    width: 80%;
    animation: animateModal 0.5s;
}

.product-stars .star-full {
    fill: #ffee03;
}

/* Modal Animation */
@keyframes animateModal {
    from {
        top: -300px;
        opacity: 0;

    }
    to {
        top: 0;
        opacity: 1;
    }
}

.modal-container .close-icon {
    position: absolute;
    right: 1rem;
}

.modal-content {
    display: flex;
    flex-wrap: nowrap;
}

.modal-content img {
    height: 15rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.modal-content p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-top: 1.2rem;
}

.modal-content a {
    display: flex;
    gap: 1rem;
    width: 12rem;
    background-color: #5c2501;
    color: #fff;
    margin-top: 1rem;
    padding: 1rem 1.6rem;
}





/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62,5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        transition: 0,3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 1,5rem;
        padding: 0,5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0,2);
    }

    .navbar .search-form {
        width: 90%;
        right: 2rem;
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 25rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 1.6rem;
    }

    .menu p {
        font-size: 1.2rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }
    
    .contact .row .map {
        height: 30rem;
    }

    .contact .row form {
        padding-top: 0;
    }

    .modal-content {
        flex-wrap: wrap;
    }
}

/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
}